#content{
        padding-top: 3%;
        padding-bottom: 70px;
        text-align: center;
        min-height: 100%;
        color: #000;
        background-color: #f1f1f1!important;
        background-image: url(../images/virtualonboardcourier.jpg)!important;
        background-size: cover!important;
    
}
#right-float{
    float:right;
}
#left-float{
    float:left;
}
#header{
    height:80px;
    background-color:#222!important;
}


#intro-div {
    height: 66px;
    margin: 0 20px 0 20px;
}
  
  #intro{
      font-size: 20px;
      font-family: "Raleway", sans-serif;
      line-height: 1.8;
      font-style: italic;
  }
  
  