html,body{
    padding:0;
    margin:0;
    height:100%;
    line-height: 1.5;
    font-family: "Open Sans", sans-serif;
     
}

#wrapper{
    position: relative;
}
 
#content{
    padding-top: 3%;
    padding-bottom: 70px; /* height of the footer */
    text-align:center;
    min-height:100%; 
    color: #000; 
    background-color:#fefefe;
}
#footer{
    height:70px;
    text-align:center;
    color:#fff!important;
    background-color: #222!important;
    padding:10px;
    bottom:0;

}
#footer p{
    color:#fff!important;
}
h1, h2, h3, h4 {
	color: #000;
	font-family: "Open Sans", sans-serif;
	line-height: 1.5;
}
p {
	font-size: 15px;
	color: #222;
	font-family: Arial, Helvetica, sans-serif;
}
.container{
    margin-top: 10%;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
	background-color: #fefefe;
	width: 500px;
	color: #fff;
	min-height: 300px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
    text-align: center;
}

#logo img{
    width: 107px;
    height: 80px;
    float:left; 
}
.pencil{
    width:30px;height:30px;
}
button {
    cursor: pointer;
    margin-top: 10px;
    width: 103%;
    margin-bottom: 10px;
    color: #fff;
    border: 0px solid;
    height: 40px;
    background-color: #14B9D6;
    padding: 5px;
    text-align: center;
}
input[type=text],input[type=password],input[type=number]{
    width: 100%;
    margin-bottom: 10px;
    height: 25px;
    padding: 5px;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;
}textarea{
    width: 100%;
    margin-bottom: 10px;
    height: 125px;
    padding: 5px;
    text-align: center;
    outline: none;
    border: 1px solid #ddd;   
}
.tips p{color: #fff!important;}
.tips{
    background-color: #14b9d6;
    padding: 20px;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right:20px;
  
}
.tips a{
    color:#ffff00;
}
.right-float{
    float:right;
}
#left-float{
    float:left!important;
}

.active {
    background-color: #0F91A8;
}


/* new nav */

nav ul{
    background-color: #14B9D6!important;
    overflow: hidden;
    height: auto;
    margin: 0;
    padding: 0;
    width: auto;
    list-style-type: none;
    }
nav ul li a{
    float:left;
    display:block;
    text-align:none;
    font-size:15px!important;
    text-decoration: none;
    padding: 29px 15px;
    color:#fff;
}

#menu-icon{
    display:none;
} 
.height-adj{
    height:auto!important;
}
/* media queries  */
@media only screen and (max-width: 680px) {
    .container {
        margin-left: auto;
        margin-right: auto;
        padding: 20px;
        background-color: #fefefe;
        color: #fff;
        min-height: 300px;
        box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
        text-align: center;
        width: auto;
    }
	
  
    #menu-icon{
        cursor:pointer;
        display:block;
        float: right;
        font-size: 31px;
        color: #fff;
        font-weight:bold;
    }
    #menu-icon-div{
        height: 46px;
        background-color: #14B9D6!important;
        padding-right: 10px;
        border-bottom: 1px solid #58cbe0;
    }
    nav ul{
        list-style-type: none;
        overflow:hidden;
        height:0;
        width:100%;
    }
    nav ul li a{
        border: 1px solid #f5f5f54d;
        display:block;
        text-align:none;
        margin:0;
        float:none;
        color: #f2f2f2;
        text-decoration: none;
        padding: 14px 16px;
        font-size: 17px!important;
    } 
    nav ul li a:hover{
        background-color: #555;
    } 
    .right-float{
    	float:none!important;
    } 
   
    #logo{
        display:none;
    }
     
}
 
